.o-wrapper {
  background-color: #fff;
}

.c-title {
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.c-subtitle {
  font-weight: 300;
  font-size: 1.3rem;
}

.y-label,
.x-label {
  font-weight: 700;
}

.tick {
  font-size: 0.9rem;
}

#tooltip {
  position: absolute;
  text-align: left;
  font-size: 0.9em;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  pointer-events: none;
}
